body {
    background-color: #002e5d;
 /* BYU navy */
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #ffffff;
    color: #002e5d;
    padding: 20px;
    text-align: center;
  }
  nav a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  .section {
    margin: 30px;
    padding: 20px;
    background-color: #1b3a67;
    border-radius: 8px;
  }
  img{
    max-width: 300px;
    border-radius: 6px;
  }
  a.anchor-link{
    color: #121001;
    font-weight: bold;
  }
  a:hover{
    color: #1b3a67;
    font-size: 1.05em;
    font-weight: bold;

  }
  a:visited{
    color: #368de4;
  }
  .center-img
  {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }